body{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: #242423;
    height: 70px;
    border-bottom:1px solid #000;
}
.header a{
    text-decoration: none;
    color: #ccc;
    display: flex;
    height: 70px;
    align-items: center;
}
.header .wrap{
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .wrap sup{
    display: block;
    position: relative;
    top: -5px;
    left: -10px;
    width: 28px;
    height: 19px;
    background-position: 90% 0%;
}
.header .wrap .link{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header .wrap .logo{
    color: #fff;
    width: 157px;
    height: 100%;
    background-position: 0 1%;
}
.header .wrap .topNav{
    padding: 0 19px;
}
.header .wrap .topNav:hover{
    color: #fff;
    background-color: #000;
}
.header .wrap .focus{
    background-color: #000;
    color: #fff;
    padding: 0 19px;
}
.header .wrap .create{
    width: 72px;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #4f4f4f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0px;
}
.header .wrap .create:hover{
    border: 1px solid #fff;
}
.header .wrap .login {
    color: #787878;
    font-size: 12px;
}
.header .wrap .inputWarp{
    height: 32px;
    width: 158px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-position: 0% 53%;
}
.header .wrap .inputWarp input{
    border: none;
    margin-left: 20px;
}
.header .wrap .inputWarp input:focus{
    outline: none;
}