body{
    margin: 0px;
    padding: 0px;
}
body a{
    text-decoration: none;
}
body, textarea, select, input, button a{
    font-size: 12px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #242423;
    height: 70px;
    border-bottom:1px solid #000;
}
.header .link a{
    text-decoration: none;
    color: #ccc;
    display: flex;
    height: 70px;
    align-items: center;
}
.header .wrap{
    height: 100%;
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .wrap sup{
    display: block;
    position: relative;
    top: -5px;
    left: -10px;
    width: 28px;
    height: 19px;
    background-position: 90% 0%;
}
.header .wrap .link{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header .wrap .logo{
    color: #fff;
    width: 157px;
    height: 100%;
    background-position: 0 1%;
}
.header .wrap .topNav{
    padding: 0 19px;
}
.header .wrap .topNav:hover{
    color: #fff;
    background-color: #000;
}
.header .wrap .focus{
    background-color: #000;
    color: #fff;
    padding: 0 19px;
}
.header .wrap .create{
    width: 72px;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #4f4f4f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 0px;
    text-decoration: none;
    color: #ccc;
}
.header .wrap .create:hover{
    border: 1px solid #fff;
}
.header .wrap .login {
    color: #787878;
    font-size: 12px;
}
.header .wrap .inputWarp{
    height: 32px;
    width: 158px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-position: 0% 53%;
}
.header .wrap .inputWarp input{
    border: none;
    margin-left: 20px;
}
.header .wrap .inputWarp input:focus{
    outline: none;
}
.header .wrap .searchWarp{
    float: left;
    position: relative;
    top: 71px;
    width: 240px;
    color: #666;
    background-color: #fff;
    clear: both;
}
.header .wrap .inputWarp .search{
    width: 200px;
    clear: both;
    background-color: #fff;
    position: absolute;
    top: 71px;
    z-index: 120;
    border: 1px solid #bebebe;
    border-radius: 4px;
    box-shadow: 0 4px 7px #555;

}
.header .wrap .inputWarp .search a{
    color: #666;
}
.header .wrap .inputWarp .search .note{
    height: 17px;
    padding: 11px 10px;
    border-bottom: 1px solid #e2e2e2;
}
.header .wrap .inputWarp .search .note:hover{
    color: #666;
}
/* .header .wrap .inputWarp .search .rap{

} */
/* .header .wrap .inputWarp .search .rap .rapWrap{
    display: flex;
    justify-content: space-around;
} */
.header .wrap .inputWarp .search .rap .rapWrap .rapTitle{
    float: left;
    width: 52px;
    margin-right: -100px;
    margin-top: 10px;
    padding: 10 0 0 10;
    /* border-right: 1px solid #e2e2e2; */
    line-height: 17px;
}
.header .wrap .inputWarp .search .rap .rapWrap .rapItem{
    margin-left: 62px;
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    padding: 6px 5px 0px 5px;
}
.nav{
    z-index: 90;
    height: 35px;
    background-color: #c20c0c;
    border-bottom: 1px solid #a40011;
}